*.pyc
*.pyo
*.pyd
__pycache__/

venv/
ENV/
env/

pip-log.txt
pip-delete-this-directory.txt

.idea/
.vscode/
.DS_Store
Thumbs.db

db.sqlite3

static/
media/

.env

projects/migrations/
projects/migrations/*.pyc
projects/migrations/*.pyo
projects/migrations/*.pyd
